WCF_Consume_ASPNET/WCF_Consume_ASPNET/Connected Services/MyService/PNRStatusService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54787/PNRStatusService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Service_RailwayReservation.ServiceModel" />
  <xs:element name="GetPNRStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pnr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPNRStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Service_RailwayReservation.ServiceModel" minOccurs="0" name="GetPNRStatusResult" nillable="true" type="q1:ReservationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>